h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 14px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

html,
body,
#mapViewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#main-content {
  max-width: 1000px;
  margin: auto;
}

.map-container,
.chart-container {
  height: 500px;
}

#body-container {
  text-align: center;
}
